body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #3cb1ff; /* Web sayfasının arka plan rengi */
    color :  #333333; /* Metin rengi */
}

h1 {
    background: linear-gradient(to right, #ff3300, #d4ff00);
    color: #040704; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h2 {
    color: #0073e6; /* Alt başlık rengi */
    font-size: 20px; /* Alt başlık yazı tipi boyutu */
    font-family: 'Trebuchet MS', sans-serif; /* Alt başlıkta kullanılan yazı tipi ailesi */
}
